.c1{
    margin-top: 15%;
}
.c2{
    margin-top: 15%;
}
h1{
    color: rgb(14, 14, 224);
    font-size: 70px;
}
input{
    margin-top: 10px;
}
button{
    margin-top: 10px;

}
form{
    background-color: whitesomke;
    padding: 8px;
    border-radius: 8px;
}
body{
    background-color:rgb(207, 198, 198);
}
a{
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn-success{
    display: block;
    margin:0% 25%;
}
.c{
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}
